# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# Flask instance folder
instance/

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Custom folders
catboost_info/
uploads/
tmp/
